.checkout-page {
  padding: 75px 0;
  max-width: 1278px;
  margin: 0 auto;

  &__subheader {
    padding: 40px 0;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 40px 0;
    gap: 174px;
  }

  .checkout-forms {
    width: 100%;
    form {
      width: 100%;

      .button {
        width: 100%;
        border: 1px solid $graphicBlack;
        background-color: $backWhite;
        margin-top: 40px;
        border-radius: 2px;

        &:hover {
          opacity: 0.6;
          border: 1px solid $textBlack60;
        }
      }
    }
    .stage {
      display: none;

      .filled-v {
        display: none;
        font-size: 14px;
        color: $graphicBlack50;
        margin-bottom: 64px;
      }

      &.is--active {
        display: block;
      }

      &.filled {
        .filled-v {
          display: block;
        }
        .filling-v {
          display: none;
        }

        .stage-header {
          .change-button {
            display: block;
          }
        }
      }

      &-header {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        .change-button {
          text-transform: uppercase;
          color: $textBlack60;
          cursor: pointer;
          display: none;

          &::after,
          &::before {
            background-color: $textBlack60;
          }
        }
        h3 {
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          display: flex;

          span {
            display: inline-block;
            margin-right: 16px;
            font-size: 14px;
            color: rgba(15, 14, 14, 0.5);

            &::first-letter {
              color: $textBlack10;
            }
          }
        }
      }

      &-two {
        .home-inputs {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 12px;
        }
      }

      &-three {
        .delivery {
          &-bottom {
            margin: 18px 0 40px 0;

            .address {
              &-top {
                display: flex;
                justify-content: space-between;

                p {
                  font-size: 16px;
                  font-weight: 600;
                }

                span {
                  text-transform: uppercase;
                  color: $graphicBlack50;
                  cursor: pointer;

                  &::after,
                  &::before {
                    background-color: $graphicBlack50;
                  }
                }
              }

              &-description {
                color: $textBlack60;
                margin-top: 8px;
              }
            }

            .courier {
              padding: 12px 16px;
              background-color: rgba($color: $textgold, $alpha: 0.25);
              font-size: 14px;
            }
          }
        }
      }
    }

    &-four {
    }

    .selections {
      display: flex;
      flex-direction: column;
      gap: 12px;
      &-item {
        padding: 16px;
        display: flex;
        align-items: center;
        gap: 11px;
        border: 1px solid $graphicBlack50;
        font-size: 14px;
        cursor: pointer;

        span {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $textBlack10;
        }

        &.is--active {
          gap: 8px;
          border: 1px solid $textgold;
          color: $textgold;

          span {
            width: 12px;
            height: 12px;
            background-color: $textgold;
          }
        }

        &:hover {
          border: 1px solid $textgold;
        }
      }
    }
  }

  .checkout-products {
    background-color: $grey;
    position: sticky;
    top: 92px;

    &__header {
      padding: 18px;
      border-top: 1px solid $graphicBlack10;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 472px;
      color: $graphicBlack;

      p {
        font-size: 14px;
      }

      span {
        font-size: 16px;
      }
    }

    &__list {
      .product-item {
        padding: 24px 20px;
        border-top: 1px solid $graphicBlack10;

        display: flex;
        align-items: center;
        gap: 16px;

        &__photo {
          position: relative;
          img {
            width: 52px;
            height: 52px;
          }

          .quantity {
            position: absolute;
            top: -7px;
            right: -7px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 14px;
            height: 14px;
            background-color: $textgold;
            color: $backWhite;
            border-radius: 50%;
            font-size: 12px;
          }
        }

        &__description {
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .product-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;

            &__name {
              font-size: 14px;
              color: $graphicBlack;
            }

            &__properties {
              font-size: 14px;
              color: $graphicBlack50;
            }
          }

          .product-price {
            font-size: 14px;
          }
        }
      }
    }

    &__bottom {
      padding: 16px;
      border-top: 1px solid $graphicBlack10;

      .price-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $textBlack60;
        padding: 6px 0;

        &.sale {
          span {
            color: $textgold;
          }
        }
      }

      .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
      }
    }
  }
}

.breadcrumbs {
  font-size: 14px;
  color: $textBlack60;
  text-align: center;
}

.input-container {
  position: relative;
  margin-bottom: 40px;

  input {
    width: 100%;
    padding: 13px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    margin: 12px 0 0;
    border-radius: 0;

    & + label {
      position: absolute;
      bottom: 13px;
      left: 0;
      color: $textBlack10;
      font-size: 16px;
      pointer-events: none;
      transition: bottom 0.3s, font-size 0.3s, color 0.3s;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      bottom: 44px;
      font-size: 14px;
      color: $textBlack60;
    }
  }
}
