.main-article {
  padding-top: 70px;
  &__date {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }
  &__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: -0.02em;
    margin: 32px 0;
    text-align: left;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    padding: 12px;
    text-transform: uppercase;
    border-right: 1px solid $graphicBlack;
    border-left: 1px solid $graphicBlack;
    width: 280px;
    margin-bottom: 67px;
  }
  .text-block {
    max-width: 635px;
    margin: 0 auto;
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin: 80px 0;
  }
  &__photos {
    display: flex;
    gap: 30px;
    max-width: 100%;
    .photo-container {
      max-width: 100%;
      img {
        width: 100%;
      }
    }
    &--margin {
      margin: 0 -80px;
    }
  }
  &__photo-container {
    max-width: 100%;
    img {
      width: 100%;
    }
    &--cover {
      max-width: 100%;
    }
    &--padding {
      padding: 0 120px;
    }
  }
  &__signature {
    &-name {
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      text-align: left;
      color: $accentred;
    }
    &-prof {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      text-align: left;
      color: $textBlack60;
      text-transform: uppercase;
      margin-top: 8px;
    }
  }
}

.oferta {
  .text-block {
    margin: 25px 0;
    text-align: left;
  } 
  ul {
    padding-left: 30px;
    text-align: left;
  }
  .paragraph {
    list-style: disc;
  }
  p {
    text-align: left;
  }
}

@media screen and (max-width: 800px) {
  .main-article {
    .section-wrapper {
      padding-bottom: 120px;
      padding-top: 60px;
    }
    &__title {
      font-size: 32px;
      font-weight: 400;
      line-height: 38px;
      letter-spacing: -0.01em;
      text-align: center;
    }
    &__subtitle {
      margin-bottom: 30px;
      width: 100%;
      border-right: none;
    }
    .text-block {
      max-width: 536px;
    }
    &__photos {
      flex-direction: column;
      &--margin {
        margin: 0;
      }
    }
    &__photo-container {
      &--padding {
        padding: 0 50px;
      }
    }
  }
}

@media screen and (max-width: 538px) {
  .main-article {
    .section-wrapper {
      padding-bottom: 120px;
    }
    &__title {
      font-size: 20px;
      line-height: 24px;
    }
  }
}