@import "../_varyables.scss";

.footer__accordion-title {
    background: $graphicBlack10;
    width: 100%;
    color: $textWhite100;
    font-family: "Tilda Sans", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    padding: 21.5px 0;
    text-align: left;
    position: relative;

}
.footer__item-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    box-sizing: border-box;
}

.footer__accordion-items {
    text-align: left;
}

.footer__accordion-item {
    width: 100%;
    position: relative;
    border-top:  0.5px $graphicWhite50 solid;
    padding: 0 16px;
}

.read-more {
    width: 32px;
    height: 33px;
    position: absolute;
    top: 16px;
    right: 0;
    cursor: pointer;
}
.read-less {
    width: 32px;
    height: 33px;
    position: absolute;
    top: 16px;
    right: 0;
    display: none;

}
