
.footer {
    background: $graphicBlack;
    color: $textWhite100;
    position: relative;
    .logo-container {
        margin: 64px 0 120px 0;
    }
}
.footer__title {
    color: $textWhite100;
    margin: 0;
    margin-bottom: 30px;
}

.footer__logo-container {
    margin-top: 64px;
    margin-bottom: 120px;
    width: 100%;
    img {
        width: 100%;
    }
}
form {
    position: relative;
}
.send-mail {
    background: $graphicBlack;
    border: none;
    border-bottom: 0.5px solid $graphicWhite100;
    width: 100%;
    height: 34px;
    color: $textWhite50;
    padding: 6.5px 0;
    outline: none;
}
#send-mail__button {
    background: $graphicBlack;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 33px;
    height: 33px;
    box-sizing: border-box;
    padding: 0;
    opacity: 0;
    z-index: 1;
}
.arrow-right {
    position: absolute;
    right: 0;
    top: 0;
}
.footer__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: $textWhite50;
    margin-bottom: 82px;
    a {
        color: $textWhite50;
    }
}

.footer__contacts {
    padding: 80px 16px 0 16px;
    color: $textWhite100;
    text-align: center;
}
.footer__contacts-flex {
    display: flex;
    justify-content: center;
    a {
        color: $textWhite100;
        text-decoration: underline;
        margin: 0 12px;
    }
}
.footer__mail,
.footer__phone {
    display: block;
    text-decoration: none;
    color: $textWhite100;
    margin-top: 12px;
}
.seryonse {
    text-align: left;
    margin-top: 80px;
    margin-bottom: 33px;
    a {
        color: $textWhite100;
        text-decoration: underline;
    }
}
.copyright {
    padding: 24px 8.5px 20px 8.5px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: $textWhite50;
    border-top: 0.5px $graphicWhite50 solid;
    a {
        color: $textWhite50;
        display: inline-block;
    }
}
.copyright__text {
    margin: 0;
}
.arrow-up {
    position: absolute;
    bottom: 68px;
    right: 8px;
    width: 56px;
    height: 56px;
}

@media screen and (max-width: 528px) {
    .footer {
        padding: 0; //ДОПИСАТЬ ПАДДИНГ НА ТОП И БАТТОН
    }
}
