@import "../_varyables.scss";

.main-header {
    position: absolute;
    width: 100%;
    background-color: $graphicWhite100;
    z-index: 20;
    margin: 0;
    .wrapper {
        margin: auto;
        text-align: center;
        padding: 16px 80px;
    }
}
.main-header--scroll {
    transition: 2s;
    background: none;
    max-height: 60px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 66.3vw; //955px по макету в соответствии с разрешением 1440
    max-height: 21.29vh;
    margin: 11.72vh 0;
    color: var(--g-color-foreground);
    transition: 2s;
    will-change: min-height;
    z-index: 22;
}
.logo-white {
    display: none;
}

.display-none {
    display: none;
}
.icons-white {
    display: none;
}
.logo-container {
    text-align: center;
    max-width: 500px;
}
.smalli {
    text-align: left;
    will-change: width, transform;
    left: 50%;
    // top: -170px;
    top: -30vh;
    transform: translateX(-50%) scale(18%);
    transition: 1.5s;
    opacity: 0;
}
///////////////////MENU/////////////////
.main {
    text-align: center;
    height: 100vh;
    position: relative;
}
.main-nav {
    display: flex;
    width: 100%;
    align-items: center;
}
.flex-child {
    flex-grow: 1;
    flex-basis: 0;
}
.main-nav--mobile {
    display: none;
    .main-nav--mobile__item {
        margin-left: 16px;
    }
}
.main-nav--mobile-header {
    display: flex;
    justify-content: space-between;
}
.main-nav__items,
.main-nav--mobile__items {
    @include list;
    text-transform: uppercase;
    width: 100%;
    text-align: right;
}
#brand,
#brand--col{
    margin-left: 86px;
}
.main-nav__items--left {
    text-align: left;
    width: 100%;
    padding: 0;
    display: flex;
    opacity: 0;
    transition: 3s;
    a {
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        color: $textWhite100;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        position: relative;
    }
    a::before {
        content: '';
        right: 0;
        bottom: 0;
        position: absolute;
        width: 0;
        height: 1px;
        background: $textWhite100;
        transition: 0.2s;
    }
    a:hover::before {
        width: 100%;
        left: 0;
    }
}
.main-nav__items--right {
    text-align: right;
    width: 100%;
    opacity: 0;
    transition: 3s;
    @include list;

}
.main-nav__item {
    display: inline-block;
}
.main-nav--mobile__items {
    display: none;
}

.main-nav--mobile__item {
    display: inline-block;
}

.mobile-nav {
    display: none;
    text-align: left;
    @include list;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 18px 1rem;
    background: white;
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    margin: 0;
    .main-nav--mobile__items {
        display: flex;
        justify-content: space-between;
    }
}

.main-nav--mobile-list__item {
    @include list;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 62px;
    text-transform: uppercase;
    a {
        color: $textBlack10;
    }
}
.main-nav--mobile-list__items {
    margin-top: 2rem;
}

.search {
    background: $backWhite;
    border: none;
    border-bottom: #121111 solid 1px;
    padding: 14px 14px 14px 56px;
    font-family: "Tilda Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
}
.search-in {
    position: relative;
    top: -49.5px;
    left: 0;
    margin: 8px;
}
.mobile-nav__items {
    @include list;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 20px;
    position: absolute;
    bottom: 64px;
}
.mobile-nav__item {
    @include list;
    padding: 10px 0;
    a {
        color: $textBlack10;
    }
}
.mobile-favor {
    position: relative;
    bottom: -12px;
    left: 0;
}

@media screen and (max-width: 800px) {
    .main-nav__items--left {
        text-align: left;
        width: 100%;
        padding: 0;
        display: flex;
        .main-nav__item {
            margin-right: 0;
        }
        a {
            color: $textWhite100;
        }
    }
    .main-nav__items--right {
        text-align: right;
        width: 100%;
        @include list;
    }
    #brand {
        margin-left: 24px;
    }

    .main-header {
        position: absolute;
        height: 200px;
        background: none;
        .wrapper {
            margin: auto;
            text-align: center;
            padding: 16px;
        }
    }
    .logo {
        width: 480px;
        height: 109px;
        position: absolute;
        top: 80px;
        left: 50%;
        margin: 0;
        transform: translateX(-50%);
    }
    #white-logo-mobile {
        display: none;
    }

    .smalli {
        text-align: left;
        will-change: width, transform;
        opacity: 0;
        transform: translate3d(-238px, -83px, 0px) scale(31%);
        transition: 2.5s;
    }
}

@media screen and (max-width: 528px) {
    .main-header {
        position: absolute;
        width: 100%;
        background: $graphicWhite100;
        padding-bottom: 50px;
        z-index: 20;
        margin: 0;
        .wrapper {
            padding: 1rem;
            text-align: center;
        }
    }

    .main-nav--mobile {
        display: flex;
        justify-content: end;
    }

    .mobile-nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .main-nav {
        display: none;
    }
    .main-nav--mobile__items {
        display: block;
        @include list;
        text-transform: uppercase;
        width: 100%;
        text-align: right;
    }

    .main-header--scroll {
        max-height: 60px;
        transition: 2s;
        background: none;
        top: 0;
    }

    .logo-mobile--scroll {
        text-align: left;
        will-change: width, transform;
        transform: translate3d(-76px, -57px, 0px) scale(48%);
        transition: 1s;
        opacity: 0;
    }
    .logo-mobile {
        position: relative;
        color: var(--g-color-foreground);
        transition: 1.8s;
        will-change: min-height;
        z-index: 22;
    }
    #white-logo-mobile {
        display: block;
        position: absolute;
        top: 14px;
    }

    .logo-container {
        text-align: left;
    }
}
@media screen and (max-width: 376px) {
    .main-header {
        position: absolute;
        width: 100%;
        background: $graphicWhite100;
        z-index: 20;
        margin: 0;
        height: 189px;
    }

    .main-nav--mobile {
        display: flex;
        justify-content: end;
    }

    .mobile-nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .main-nav--mobile__items {
        display: block;
        @include list;
        text-transform: uppercase;
        width: 100%;
        text-align: right;
    }

    .main-header--scroll {
        max-height: 60px;
        transition: 2s;
        background: none;
    }

    .logo-mobile--scroll {
        text-align: left;
        // width: 123px;
        // height: 28px;
        will-change: width, transform;
        transform: translate3d(-76px, -57px, 0px) scale(48%);
        transition: 1s;
    }
    .logo-mobile {
        position: relative;
        color: var(--g-color-foreground);
        transition: 1.8s;
        will-change: min-height;
        z-index: 22;
    }

    .logo-container {
        text-align: left;
    }

}
