.modal {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $backWhite;
  height: 100%;
  width: 552px;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out;
  &.is--active {
    transform: translateX(0);
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    border-bottom: 0.5px solid $graphicBlack10;
    &__button {
      display: flex;
      position: relative;
      margin-left: auto;
      width: 32px;
      height: 32px;
      padding: 6px;
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        right: 2px;
        top: 15px;
        width: 27px;
        height: 1px;
        background: $graphicBlack;
      }
      span:nth-child(1) {
        transform: rotate(45deg);
      }
      span:nth-child(2) {
        transform: rotate(-45deg);
      }

      &:hover {
        opacity: 0.6;
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: left;
    }
  }

  &-content {
    flex-grow: 1;
    text-align: left;
    overflow-y: scroll;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    &__empty {
      display: none;

      &.is--active {
        display: block;
      }
    }

    &__filled {
      display: none;

      &.is--active {
        display: block;
      }
    }
  }

  &-bottom {
    padding: 24px 24px 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .button {
      &--white {
        background-color: $backWhite;
        border: 1px solid $graphicBlack;

        &:hover {
          border: $graphicgold 1px solid;
          color: $textgold;
        }

        &:active {
          border: $graphicgold 1px solid;
          background: $graphicgold;
          color: $textWhite100;
        }

        &:disabled {
          border: $graphicBlack50 1px solid;
          color: $textBlack60;
        }
      }
    }
    button {
      margin-top: 0;
    }
  }
}

.modal.modal-cart,
.modal.modal-favorites {
  .modal__view-height {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 80px 24px 40px;

    .flex-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 400px;
      justify-content: center;
      margin: 0 auto;
    }
  }

  .modal__heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    padding: 38px 0 12px;
    max-width: 365px;
    margin: 0 auto;
  }
}

.modal.modal-filter {
  .modal-content {
    .accordion-item {
      .accordion-title {
        display: flex;
        align-items: center;
        gap: 4px;
        span {
          color: $textgold;
          display: none;
          font-size: 16px;
        }
        &.is--active {
          span {
            display: block;
          }
        }
      }
      .accordion-description__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;

        .option {
          cursor: pointer;
          &:hover {
            color: $textgold;
          }

          &.is--active {
            color: $textgold;
          }
        }
      }

      &.size {
        .accordion-description__body {
          grid-template-columns: 1fr;
        }
      }
      &.color {
        .accordion-description__body {
          .option {
            display: flex;
            align-items: center;
            gap: 8px;

            span {
              display: block;
              width: 6px;
              height: 6px;
              border-radius: 50%;
            }
          }
        }
      }
      &.sort {
        .accordion-description__body {
          grid-template-columns: 1fr;
        }
        .sort-items {
          list-style: inside;

          .sort-item {
            margin-bottom: 8px;
            cursor: pointer;

            &:hover {
              color: $textgold;
            }
            &.is--active {
              color: $textgold;
            }
          }
        }
      }
    }
  }
}

.modal.modal-search {
  .modal {
    &-content {
      &__wrapper {
        padding: 40px 24px;
      }
    }
    &-search {
      &__container {
        font-size: 16px;
        position: relative;
      }
      &__input {
        padding: 8px 0;
        border: none;
        border-bottom: 1px solid $graphicBlack;
        width: 100%;
        outline: none;
      }
      &__reset {
        position: absolute;
        top: 8px;
        right: 0;
        color: $textBlack60;
        border: none;
        outline: none;
        width: 70px;
        text-align: right;
        padding: 0;
      }
      &__button {
        width: 160px;
        //display: none;
        &.is--active {
          display: block;
        }
        &-wrap {
          display: flex;
          justify-content: flex-end;
          flex-direction: row;
          padding: 40px 0 0 0;
        }
      }
      &__result {
        display: flex;
        margin-top: 40px;
        .category {
          &-flex {
            flex-wrap: wrap;
          }
          &__product {
            width: 48%;
          }
        }
      }
      &__not-found {
        .modal__heading {
          margin-top: 40px;
        }
      }
    }
  }
  .last-results {
    margin: 16px 0;
    &__title {
      font-weight: bold;
    }
    &__item {
      color: $textBlack60;
      display: flex;
      gap: 7px;
      align-items: center;
      position: relative;
      //.last-result__delete {
      //  display: flex;
      //  position: absolute;
      //  right: 2px;
      //  top: 0px;
      //  width: 8px;
      //  height: 8px;
      //  padding: 1px;
      //  span {
      //   display: block;
      //   position: absolute;
      //   right: 1px;
      //   top: 1px;
      //   width: 3px;
      //   height: 1px;
      //   background: $graphicBlack;
      //  }
      //  span:nth-child(1) {
      //   transform: rotate(45deg);
      //  }
      //  span:nth-child(2) {
      //   transform: rotate(-45deg);
      //  }
    }
  }
}

.modal.modal-favorites {
  .modal {
    &__category-wrapper {
      // display: none;
      padding: 40px 24px 0;
      width: 100%;
      .category-flex {
        flex-wrap: wrap;
        .category {
          &__product {
            width: 48%;
          }
          &__photo-container {
            .favorite-icon-wrap {
              img:nth-child(1) {
                display: none;
              }
              img:nth-child(2) {
                display: block;
              }
              &.is--active {
                img:nth-child(1) {
                  display: block;
                }
                img:nth-child(2) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal.modal-cart {
  .modal {
    &-bottom {
      .button--white {
        display: none;
        &.is--active {
          display: block;
        }
      }
      .button--black {
        //display: none;
        &.is--active {
          display: block;
        }
      };
      .cart__total {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.modal.modal-color {
  .modal {
    &-content {
      &__wrapper {
        padding: 48px 24px;
      }
      &__flex {
        display: flex;
        gap: 8px 16px;
        flex-wrap: wrap;
      }
    }
    &-color {
      &__product {
        &-container {
          width: 48%;
          display: flex;
          flex-direction: column;
          gap: 16px;
          align-items: center;
          padding: 10px 10px 16px;
          border: 1px solid $graphicBlack10;
          border-radius: 2px;
          cursor: pointer;
          &.is--active {
            border: 1px solid $graphicgold;
          }
          .color-dott {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            &--blue {
              background: $scarveblue;
            }
            &--beige {
              background: $scarvebegie;
            }
          }

          &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
          }
        }
        &-photo-container {
          display: flex;
          background: $grey;
          justify-content: center;
          align-items: center;
          height: 240px;
          img {
            width: 62.5%;
          }
        }
        &-subtitle {
          text-transform: uppercase;
          padding-bottom: 8px;
          border-bottom: 1px solid $graphicBlack;
        }
      }


    }

  }

}

.modal.modal-size,
.modal.modal-material {
  .modal {
    &__item {
      height: 61px;
      border-bottom: 1px solid $graphicBlack10;
      padding: 0 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.deactivate {
        color: $textBlack60;
      }

      &-detail {
        &.is--active {
          color: $textgold;
        }
      }

      &-state {
        text-transform: uppercase;
      }
    }
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $graphicBlack50;
  z-index: 1001;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in;

  &.is--active {
    display: block;
    opacity: 1;
  }
}

@media (max-width: 720px) {
  .modal {
    width: 100%;
    &-header {
      padding: 20px 16px;
    }
  }

  .modal__view-height {
    justify-content: space-between;
  }

  .modal.modal-filter {
    .modal-content {
      .accordion-item {
        .accordion-title {
          font-size: 16px;
        }
      }
    }
  }

  .modal.modal-color {
    .modal {
      &-color {
        &__product {
          &-container {
            width: 47%;
          }
        }
      }
    }
  }

}

// .modal {
//   display: block;
//   z-index: 20000;
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: 100vh;
//   width: 552px;
//   transition: 0.5s;
//   transform: translateX(100%);
//   background-color: $graphicWhite100;
//   &__backdrop {
//     display: none;
//     width: 100vw;
//     height: 100vh;
//     position: fixed;
//     top: 0;
//     z-index: 90;
//     background: rgba(178, 170, 170, 0.25);
//     backdrop-filter: blur(4px);
//     transition: 0.2s;
//   }
//   &__wrapper {
//     padding: 40px 24px 0;
//     width: 100%;
//     height: 86%;
//     //position: relative;
//     .category-flex {
//       flex-wrap: wrap;
//       .category__product {
//         width: 48%;
//       }
//     }
//   }
//   &__heading {
//     font-size: 18px;
//     font-weight: 500;
//     line-height: 25px;
//     text-align: center;
//     text-transform: uppercase;
//     padding: 38px 0 12px;
//     max-width: 365px;
//     margin: 0 auto;
//   }
//   &__scrolling-block {
//     overflow-y: scroll;
//     height: 100%;
//   }
//   &__title {
//     display: flex;
//     align-items: center;
//     padding: 0 24px;
//     border-bottom: $graphicBlack10 solid 0.5px;
//     position: relative;
//     height: 64px;
//     text-transform: uppercase;
//     font-size: 18px;
//     font-weight: 500;
//     line-height: 25px;
//     .close {
//       display: flex;
//       position: absolute;
//       right: 24px;
//       top: 16px;
//       width: 32px;
//       height: 32px;
//       padding: 6px;
//       span {
//         display: block;
//         position: absolute;
//         right: 2px;
//         top: 15px;
//         width: 27px;
//         height: 1px;
//         background: $graphicBlack;
//       }
//       span:nth-child(1) {
//         transform: rotate(45deg);
//       }
//       span:nth-child(2) {
//         transform: rotate(-45deg);
//       }
//     }
//   }
//   &__question,
//   &__answer {
//     text-align: left;
//   }
//   &__question {
//     font-weight: bold;
//     margin-bottom: 12px;
//   }
//   &__answer {
//     margin-bottom: 40px;
//   }
//   &__text {
//     max-width: 400px;
//     text-align: left;
//   }
//   &__item {
//     //height: 65px;
//     padding: 20px 24px;
//     border-bottom: $graphicBlack10 solid 0.5px;
//     font-size: 18px;
//     font-weight: 500;
//     line-height: 25px;
//     text-align: left;
//     text-transform: uppercase;
//     position: relative;
//     .modal__cross {
//       position: absolute;
//       right: 24px;
//       bottom: 20px;
//       width: 24px;
//       height: 24px;
//       padding: 8px;
//       span {
//         display: block;
//         position: absolute;
//         bottom: 12px;
//         width: 8px;
//         height: 1px;
//         background: $graphicBlack50;
//       }
//       span:nth-child(1) {
//         transform: rotate(90deg);
//         transform-origin: center;
//         transition: 0.3s;
//       }
//     }
//   }
//   &__view-height {
//     height: 84vh;
//     display: flex;
//     flex-direction: column;
//     padding: 0 24px 40px;
//   }
//   &__content {
//     display: none;
//     //display: flex;
//     flex-wrap: wrap;
//     padding: 0 24px 48px 24px;
//     text-align: left;
//     gap: 8px;
//     color: $textBlack60;
//     &--block {
//       display: none;
//       //display: block;
//     }
//   }
//   &__list {
//     padding-left: 16px;
//     &-item {
//       margin-bottom: 8px;
//       color: $textBlack10;
//     }
//   }

//   &__footer {
//     .modal__wrapper {
//       padding-top: 0;
//     }
//   }
//   &__button {
//     width: 100%;
//     padding: 12px 24px;
//     text-transform: uppercase;
//     transition: 0.5s;
//     border: none;
//     font-size: 14px;
//     font-weight: 500;
//     line-height: 14px;
//     letter-spacing: -0.01em;
//     text-align: center;
//     &--black {
//       background: $graphicBlack;
//       color: $textWhite100;
//       bottom: 81px;
//     }
//     &--white {
//       background: $graphicWhite100;
//       color: $textBlack10;
//       bottom: 24px;
//       border: $graphicBlack 1px solid;
//       &:hover {
//         border: $graphicgold 1px solid;
//         color: $textgold;
//       }
//       &:active {
//         border: $graphicgold 1px solid;
//         background: $graphicgold;
//         color: $textWhite100;
//       }
//       &:disabled {
//         border: $graphicBlack50 1px solid;
//         color: $textBlack60;
//       }
//     }
//   }
//   &__button--black:hover {
//     background: $graphicBlack50;
//   }
//   &__button--black:active {
//     background: $graphicBlack30;
//   }
//   &__button--black:disabled {
//     background: $graphicBlack30;
//     color: $textWhite50;
//   }
// }
// .flex-wrapper {
//   //max-width: 369px;
//   margin: 0 auto;
//   padding-top: 80px;

// }
// //кнопка сбросить на модалке-фильтре
// #reset {
//   display: none;
//   border: none;
// }
// .border-none {
//   border-bottom: none;
// }
// .filter-active {
//   display: block;
// }
// .position-bottom {
//   position: absolute;
//   bottom: 40px;
//   width: 90%;
// }
// .modal-active {
//   transform: translateX(0);
// }
// #ship-and-pay,
// #info-return {
//   //display: none;
// }
// #wishlist {
//   overflow: scroll;
//   .modal__button {
//     width: 356px;
//   }
// }

// @media screen and (max-width: 800px) {
//   .modal {
//     width: 100vw;
//     &__button--white {
//       width: 100%;
//     }
//     &__heading {
//       max-width: 420px;
//     }
//     &__view-height {
//       justify-content: space-between;
//       padding-top: 140px;
//     }
//   }
//   .flex-wrapper {
//     margin: 0 auto;
//     padding-top: 0;
//     width: 100%;
//   }
//   #wishlist {
//     .modal__button {
//       width: 100%;
//     }
//   }
// }
// @media screen and (max-width: 528px) {
//   .modal {
//     width: 100vw;
//     &__title {
//       font-size: 16px;
//       font-weight: 500;
//       line-height: 21px;
//       text-align: left;
//     }
//     &__heading {
//       font-size: 16px;
//       font-weight: 500;
//       line-height: 21px;
//       text-align: center;
//     }
//   }
// }
