@import url(./null.css);

:root {
    --color-plus-grey: #a1a3a5;
    --color-border-grey: #dee2e6;
    --color-text-dark: #212529;
    --color-background-white: #fff;
    --color-border-active-blue: #0dcaf0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 100px;
}

.accordion{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}

.accordion__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid var(--color-border-grey);
    border-top: none;
    color: var(--color-text-dark);
    background-color: var(--color-background-white);
}

.accordion:first-child {
    border-top: 1px solid var(--color-border-grey);
}

.accordion__title.active{
    box-shadow: 0 0 12px 1px var(--color-border-active-blue);
}

.accordion__title span{
    display: inline-flex;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transform: rotate(0);
    transition: transform 0.5s ease-out;
}

.accordion__title.active span{
    transform: rotate(45deg);
}

.accordion__title span::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-plus-grey);
}

.accordion__title span::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-plus-grey);
}

.accordion__content{
    font-size: 20px;
    line-height: 1.3;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: content-box;
    border: 1px solid var(--color-border-grey);
    border-top: none;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}

.accordion__content.active{
    visibility: visible;
    opacity: 1;
    padding: 20px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}