/*** colors ***/
/*** fonts ***/
@font-face {
  font-family: "Tilda Sans";
  src: url("fonts/font/TildaSans-Light.eot");
  src: local("Tilda Sans Light"), local("TildaSans-Light"), url("fonts/font/TildaSans-Medium.eot") format("embedded-opentype"), url("fonts/font/TildaSans-Light.woff2") format("woff2"), url("fonts/font/TildaSans-Light.woff") format("woff"), url("fonts/font/TildaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
/*** mixins ***/
.footer {
  background: #0c0c0c;
  color: white;
  position: relative; }
  .footer .logo-container {
    margin: 64px 0 120px 0; }

.footer__title {
  color: white;
  margin: 0;
  margin-bottom: 30px; }

.footer__logo-container {
  margin-top: 64px;
  margin-bottom: 120px;
  width: 100%; }
  .footer__logo-container img {
    width: 100%; }

form {
  position: relative; }

.send-mail {
  background: #0c0c0c;
  border: none;
  border-bottom: 0.5px solid white;
  width: 100%;
  height: 34px;
  color: rgba(255, 255, 255, 0.5);
  padding: 6.5px 0;
  outline: none; }

#send-mail__button {
  background: #0c0c0c;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 33px;
  height: 33px;
  box-sizing: border-box;
  padding: 0;
  opacity: 0;
  z-index: 1; }

.arrow-right {
  position: absolute;
  right: 0;
  top: 0; }

.footer__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 82px; }
  .footer__text a {
    color: rgba(255, 255, 255, 0.5); }

.footer__contacts {
  padding: 80px 16px 0 16px;
  color: white;
  text-align: center; }

.footer__contacts-flex {
  display: flex;
  justify-content: center; }
  .footer__contacts-flex a {
    color: white;
    text-decoration: underline;
    margin: 0 12px; }

.footer__mail,
.footer__phone {
  display: block;
  text-decoration: none;
  color: white;
  margin-top: 12px; }

.seryonse {
  text-align: left;
  margin-top: 80px;
  margin-bottom: 33px; }
  .seryonse a {
    color: white;
    text-decoration: underline; }

.copyright {
  padding: 24px 8.5px 20px 8.5px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  border-top: 0.5px rgba(255, 255, 255, 0.5) solid; }
  .copyright a {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block; }

.copyright__text {
  margin: 0; }

.arrow-up {
  position: absolute;
  bottom: 68px;
  right: 8px;
  width: 56px;
  height: 56px; }

@media screen and (max-width: 528px) {
  .footer {
    padding: 0; } }
.main-header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  color: #0f0e0e;
  transition: color 1s, background-color 1s ease; }
  .main-header.animated {
    transition: transform 1s ease;
    transform: translateY(-100%); }
    .main-header.animated.is--active {
      transform: translateY(0); }
  .main-header__wrapper {
    margin: auto;
    text-align: center;
    padding: 16px 80px;
    color: inherit; }
  .main-header .main-nav {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    color: inherit;
    position: relative; }
    .main-header .main-nav__items {
      display: flex;
      gap: 40px;
      color: inherit;
      list-style: none;
      padding: 0;
      margin: 0; }
      .main-header .main-nav__items a {
        color: inherit;
        text-decoration: none; }
      .main-header .main-nav__items:last-child {
        justify-content: flex-end;
        gap: 16px; }
    .main-header .main-nav__item a {
      font-size: 16px; }
    .main-header .main-nav__item--icon {
      position: relative; }
      .main-header .main-nav__item--icon img {
        display: block; }
        .main-header .main-nav__item--icon img:first-child {
          opacity: 1; }
        .main-header .main-nav__item--icon img:last-child {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0; }
    .main-header .main-nav__item--mobile {
      display: none; }
    .main-header .main-nav .logo-container {
      align-self: flex-start;
      justify-content: center;
      width: 177px;
      position: relative;
      transition: all 1s ease; }
      .main-header .main-nav .logo-container .logo-white {
        width: 100%;
        opacity: 0; }
      .main-header .main-nav .logo-container .logo-black {
        position: absolute;
        width: 100%;
        max-width: 955px;
        margin: 0 auto;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        transition: all 1s ease; }
  .main-header.home {
    color: white; }
    .main-header.home .main-nav__items {
      transition: transform 2.5s ease; }
      .main-header.home .main-nav__items:first-child {
        transform: translateY(-72px); }
    .main-header.home .main-nav .logo-container {
      position: static; }
      .main-header.home .main-nav .logo-container .logo-black {
        width: 88.8%;
        top: 80px; }
    .main-header.home.is--active .main-nav__items {
      transform: translateY(0); }
    .main-header.home.is--active .main-nav .logo-container .logo-white {
      opacity: 1; }
    .main-header.home.is--active .main-nav .logo-container .logo-black {
      opacity: 0;
      width: 177px;
      top: 0; }
    .main-header.home.is--active .main-nav__item--icon img:first-child {
      transition: opacity 1s ease;
      opacity: 0; }
    .main-header.home.is--active .main-nav__item--icon img:last-child {
      transition: opacity 1s ease;
      opacity: 1; }
  .main-header.scroll {
    position: fixed;
    border-bottom: 1px solid rgba(12, 12, 12, 0.1); }
  .main-header .mobile-menu {
    height: 0;
    overflow: hidden; }
  .main-header .flex-child {
    flex-grow: 1;
    flex-basis: 0; }
  .main-header .hamburger {
    width: 24px;
    height: 24px;
    padding: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer; }
    .main-header .hamburger span {
      display: block;
      width: 15px;
      height: 1.5px;
      background-color: #0f0e0e;
      transition: all 1s ease; }
    .main-header .hamburger.is--active span {
      background-color: #0f0e0e !important; }
      .main-header .hamburger.is--active span:first-child {
        transform: rotate(45deg) translate(4px, 3.5px); }
      .main-header .hamburger.is--active span:nth-child(2) {
        display: none; }
      .main-header .hamburger.is--active span:last-child {
        transform: rotate(-45deg) translate(4px, -3.5px); }
  .main-header.black--v {
    color: #0f0e0e; }
  .main-header.white-bg--v {
    background-color: white;
    color: #0f0e0e; }
    .main-header.white-bg--v .main-nav .logo-container .logo-white {
      opacity: 0 !important; }
    .main-header.white-bg--v .main-nav .logo-container .logo-black {
      opacity: 1 !important; }
    .main-header.white-bg--v .main-nav__item--icon img:first-child {
      opacity: 1 !important; }
    .main-header.white-bg--v .main-nav__item--icon img:last-child {
      opacity: 0 !important; }
    .main-header.white-bg--v .hamburger span {
      background-color: #0f0e0e !important; }
  .main-header.black-bg--v {
    background-color: #0f0e0e;
    color: white; }
  @media (max-width: 800px) {
    .main-header__wrapper {
      padding: 16px 24px; }
    .main-header .main-nav__items {
      gap: 24px; }
    .main-header .main-nav__item a {
      font-size: 14px; }
    .main-header .main-nav__item--icon img {
      width: 24px;
      height: 24px; }
    .main-header .main-nav .logo-container {
      width: 142px; }
    .main-header.home.is--active .main-nav .logo-container .logo-black {
      width: 142px; } }
  @media (max-width: 600px) {
    .main-header__wrapper {
      padding: 16px; }
    .main-header .main-nav__items {
      gap: 12px; }
      .main-header .main-nav__items:last-child {
        gap: 6px; }
    .main-header .main-nav .logo-container {
      width: 124px; }
    .main-header.home.is--active .main-nav .logo-container .logo-black {
      width: 124px; } }
  @media (max-width: 528px) {
    .main-header__wrapper {
      padding: 16px; }
    .main-header .main-nav__items:first-child {
      display: none; }
    .main-header .main-nav__item a {
      font-size: 14px; }
    .main-header .main-nav__item--icon img {
      width: 24px;
      height: 24px; }
    .main-header .main-nav__item.icon-search, .main-header .main-nav__item.icon-favor {
      display: none; }
    .main-header .main-nav__item--mobile {
      display: block;
      color: #0f0e0e;
      z-index: 1000; }
    .main-header .main-nav .logo-container {
      width: 142px; }
      .main-header .main-nav .logo-container .logo-black {
        margin: 0; }
    .main-header.home .main-nav .logo-container .logo-black {
      left: 16px; }
    .main-header.home.is--active .main-nav .logo-container {
      width: 142px; }
      .main-header.home.is--active .main-nav .logo-container .logo-black {
        width: 142px;
        top: 0 !important;
        left: 0; }
    .main-header.home.is--active .hamburger span {
      background-color: white; }
    .main-header .mobile-menu {
      background: white;
      position: fixed;
      width: 100vw;
      left: 0;
      top: 67px;
      color: #0f0e0e;
      overflow: hidden;
      height: 0;
      transition: height 0.3s ease; }
    .main-header.menu-active {
      background-color: white; }
      .main-header.menu-active .main-nav .logo-container .logo-white {
        opacity: 0 !important; }
      .main-header.menu-active .main-nav .logo-container .logo-black {
        opacity: 1 !important; }
      .main-header.menu-active .main-nav__item.icon-bag {
        display: none; }
      .main-header.menu-active .mobile-menu {
        height: calc(100vh - 67px); } }

.home-video {
  margin-bottom: 64px;
  text-align: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end; }
  .home-video__container {
    background-image: url("../images/png/main.png");
    background-position: center;
    background-size: cover;
    width: 88.8%;
    height: 55%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 104px; }
  .home-video__title {
    font-size: 64px;
    font-weight: 300;
    line-height: 44px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 0; }
  .home-video__button {
    padding: 12px 36px !important; }
  .home-video.is--active .home-video__container {
    height: 100%;
    width: 100%;
    transition: 1.5s; }
  .home-video.is--active .home-video__title {
    transition: 1s;
    color: white; }
  .home-video.is--active .home-video__button {
    transition: 1s;
    margin-top: 40px; }

.slider__block-title {
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #0f0e0e;
  text-transform: uppercase;
  margin: 0 auto 64px auto; }

.history {
  display: flex; }
  .history .flex-box {
    width: 60%; }
  .history .section-wrapper {
    display: flex;
    gap: 80px; }
  .history-photo__container {
    margin-top: 0;
    width: 634px;
    height: 791px;
    overflow: hidden;
    transform: scale(80%);
    transition: 1.5s;
    background-image: url(../images/png/history.png);
    background-size: cover; }
    .history-photo__container img {
      width: 100%; }
  .history-logo__container {
    text-align: center;
    margin: 40px 0 40px 0;
    opacity: 0;
    transform: translate(0px, 120%);
    transition: 0.5s; }
  .history-title {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -0.04em;
    text-align: center;
    text-transform: uppercase;
    color: #cc4958;
    opacity: 0;
    transform: translate(0px, 120%);
    transition: 0.5s; }
  .history-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: #0f0e0e;
    opacity: 0;
    transform: translate(0px, 120%);
    transition: 0.5s; }
  .history-link {
    margin: 64px 0 49px 0; }
    .history-link a {
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: -0.02em;
      text-align: center;
      color: #0f0e0e;
      text-transform: uppercase;
      margin-top: 56px;
      margin-bottom: 12px;
      padding-bottom: 4px;
      text-decoration: none; }

.collections {
  background: #0c0c0c; }
  .collections a {
    color: white; }
  .collections .section-wrapper {
    padding: 40px 80px;
    padding-bottom: 100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    column-count: 2;
    position: relative;
    justify-content: space-between; }
  .collections__photo-container {
    width: 46.8%;
    height: auto;
    overflow: hidden;
    margin: 0;
    transition: 2s; }
  .collections__photo-container:hover {
    transform: scale(80%);
    transition: 2s; }
  .collections__photo-container:nth-child(1), .collections__photo-container:nth-child(3), .collections__photo-container:nth-child(5) {
    margin: 0 2.7vw 20px 0; }
  .collections__photo-container:nth-child(2), .collections__photo-container:nth-child(4), .collections__photo-container:nth-child(6) {
    margin: 0 0 20px 0; }
  .collections img {
    width: 100%; }
  .collections #logo-white--col {
    width: 177px; }
  .collections__photo {
    opacity: 0;
    transform: scale(120%);
    transition: 1.6s; }
  .collections__photo-description {
    font-size: 48px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: -0.02em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    bottom: 90px;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, 140%);
    transition: 0.6s;
    margin: 0; }
    .collections__photo-description a {
      text-decoration: none;
      color: #fff; }

.icons-white--collections {
  display: block; }

.main-nav--collections {
  padding: 14px 123px;
  display: flex;
  width: 100%;
  align-items: center;
  opacity: 0;
  transition: 1.5s;
  border-bottom: rgba(255, 255, 255, 0.3) solid 1px; }
  .main-nav--collections .logo-white {
    display: block;
    margin: auto; }
  .main-nav--collections .logo-container {
    text-align: center; }
  .main-nav--collections .main-nav__item a {
    color: white; }

.description-top {
  bottom: 132px;
  margin-bottom: -55px; }

#marquee {
  overflow: hidden;
  white-space: nowrap;
  color: white;
  width: 200%;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  letter-spacing: 0;
  text-align: center; }

.marquee-container {
  background-color: #0c0c0c;
  width: 150%;
  overflow: hidden;
  margin-left: -80px;
  margin-right: -80px; }

.marq-dot {
  background: #cc4958;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 4px 20px; }

.style .wrapper {
  padding: 0 0; }

.style__video-container,
.style__photo-container,
.fitting__photo-container {
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
  overflow: hidden; }
  .style__video-container img,
  .style__photo-container img,
  .fitting__photo-container img {
    width: 100%; }

.fitting__photo-container img {
  max-height: 743px;
  width: auto; }

.style__text,
.fitting__text {
  text-align: center;
  width: 40vw;
  margin: auto;
  opacity: 0;
  transform: translate(0px, 120%);
  transition: 0.5s; }

.style__link {
  text-align: center;
  margin-top: 64px; }

.style__flex-box,
.gifts__flex-box,
.fitting__flex-box {
  display: flex;
  flex-direction: column;
  column-count: 1;
  padding: 0;
  margin: 0; }
  .style__flex-box .style__photo-container,
  .style__flex-box .style__video-container,
  .gifts__flex-box .style__photo-container,
  .gifts__flex-box .style__video-container,
  .fitting__flex-box .style__photo-container,
  .fitting__flex-box .style__video-container {
    order: -1; }

.style__flex-box .style__text {
  width: 290px; }

.gifts__flex-box {
  margin: 120px 242px 104px 242px; }

.fitting {
  background: #f7f7f7; }
  .fitting .fitting__text,
  .fitting .fitting__links,
  .fitting .fitting__title {
    text-align: left; }

.fitting__flex-box {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 64px;
  margin: 80px 80px 62px 80px; }
  .fitting__flex-box .style__photo-container {
    order: -1;
    height: 100%;
    width: 40.42vw;
    margin: 0; }
  .fitting__flex-box .fitting__title--mobile {
    display: none; }

#modal-map {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;
  z-index: 40; }

.close-map {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 45;
  width: 20px;
  height: 20px;
  text-align: right; }

#backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(12, 12, 12, 0.5);
  z-index: 1; }

@media screen and (max-width: 800px) {
  .section-wrapper {
    margin: auto;
    text-align: center;
    padding: 0 24px; }

  .home-video__title {
    font-size: 40px; }
  .home-video__button {
    padding: 12px 24px !important; }

  .collections .section-wrapper {
    margin: auto;
    padding: 24px;
    padding-bottom: 45px; }
  .collections a {
    display: block; }

  .collections__photo-container {
    width: 48.5%;
    height: 63.71vw;
    /*margin: 24px 24px -40px 20px;*/
    overflow: hidden; }
    .collections__photo-container img {
      width: 100%; }

  .collections__photo-description {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -0.04em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    bottom: 87px;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, 140%);
    transition: 1.6s;
    margin: 0; }
    .collections__photo-description a {
      text-decoration: none;
      color: #fff; }

  .style__text {
    margin: 24px auto 37px auto;
    text-align: center;
    opacity: 0;
    width: 55%;
    transform: translate(0px, 120%);
    transition: 0.5s; }

  .description-top {
    bottom: 132px; }

  .history {
    display: block; }
    .history .section-wrapper {
      display: block; }
    .history__photo-container {
      margin-top: 46px;
      width: 100%;
      overflow: hidden;
      opacity: 0;
      transform: scale(80%);
      background-size: cover;
      transition: 0.5s; }
      .history__photo-container img {
        width: 100%; }

  .marquee-container {
    width: 120%;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -18px; }

  #marquee {
    font-size: 24px; }

  .marq-dot {
    width: 8px;
    height: 8px; }

  .main-nav--collections {
    display: none; }

  .style__flex-box {
    margin: 0; }

  .fitting {
    background-color: white; }
    .fitting .fitting__title--desktop {
      display: block;
      text-align: center; }
    .fitting .fitting__flex-box {
      height: auto;
      display: block; }
    .fitting .fitting__links,
    .fitting .fitting__text {
      margin: 8px 0 32px 0;
      width: auto;
      text-align: center; }

  .footer {
    padding: 0 8px; } }
@media screen and (max-width: 528px) {
  .body {
    width: 100%; }

  .section-wrapper {
    padding: 1rem;
    text-align: center; }

  .slider__block-title {
    font-size: 20px; }

  h5 {
    font-size: 16px;
    line-height: 21px;
    text-align: left; }

  .home-video__container {
    width: 100%;
    height: 70%;
    padding-bottom: 84px; }
  .home-video.is--active .home-video__container {
    height: 70%;
    transform: translateY(-30vh);
    transition: all 1.5s ease; }
  .home-video.is--active .home-video__title {
    transform: translateY(35vh);
    color: #0f0e0e; }
  .home-video.is--active .home-video__button {
    transform: translateY(35vh);
    background-color: #0f0e0e;
    color: white; }

  .history__photo-container {
    margin-top: 46px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transform: scale(80%);
    background-size: cover;
    transition: 0.5s; }
    .history__photo-container img {
      width: 100%; }

  .history__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: center;
    text-transform: uppercase;
    color: #cc4958;
    opacity: 0;
    transform: translate(0px, 120%);
    transition: 0.5s; }

  .collections__photo-container {
    width: 100%;
    height: auto;
    margin: 0 auto -40px auto;
    overflow: hidden; }
    .collections__photo-container img {
      width: 100%; }

  .marquee-container {
    width: 150%;
    margin-left: -40px;
    margin-right: -40px; }

  #marquee {
    font-size: 18px; }

  .marq-dot {
    width: 6px;
    height: 6px; }

  .collections__photo-description {
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    bottom: 66px;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, 140%);
    transition: 0.6s; }
    .collections__photo-description a {
      text-decoration: none;
      color: #fff; }

  .collections__photo-container:nth-child(1),
  .collections__photo-container:nth-child(3),
  .collections__photo-container:nth-child(5) {
    margin: 0 0 10px 0; }

  .collections__photo-container:nth-child(2),
  .collections__photo-container:nth-child(4),
  .collections__photo-container:nth-child(6) {
    margin: 0 0 10px 0; }

  .collections {
    background: #0c0c0c; }
    .collections .section-wrapper {
      padding: 40px;
      margin: auto; }

  .style .wrapper {
    padding: 120px 16px 0 16px; }

  .style__text,
  .fitting__text {
    text-align: left;
    opacity: 0;
    margin: 0 0 0 0;
    transform: translate(0px, 120%);
    transition: 0.5s;
    width: auto; }

  .fitting .fitting__text {
    margin: 7px 0 38px 0;
    text-align: left; }

  .style__video-container {
    padding: 0;
    margin-bottom: 24px; }

  .style__link {
    text-align: left;
    margin-top: 37px;
    margin-bottom: 0; }

  .smalli {
    text-align: left;
    will-change: width, transform;
    transform: translate3d(-76px, -57px, 0px) scale(48%);
    transition: 1s; }

  .style__flex-box,
  .gifts__flex-box,
  .fitting__flex-box {
    display: block;
    column-count: 1;
    padding: 0;
    margin: 0;
    flex-direction: inherit; }

  .fitting__flex-box {
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
    margin: 0; }
    .fitting__flex-box .style__photo-container {
      height: auto;
      width: auto;
      margin: 0; }

  .fitting__title--mobile {
    display: block; }

  .fitting__title--desktop {
    display: none; }

  .fitting__photo-container {
    height: 235px;
    overflow: hidden;
    margin-bottom: 24px; }

  .fitting__links {
    text-align: left;
    margin-top: 38px; }

  .bold {
    margin-bottom: 7px !important; } }
@media screen and (max-width: 376px) {
  .body {
    width: 100%; }

  .wrapper {
    padding: 1rem;
    text-align: center; }

  .main-nav {
    display: none; }

  h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase; }

  .collections__photo-container {
    width: 100%;
    height: auto;
    margin: 0 auto -40px auto;
    overflow: hidden; }
    .collections__photo-container img {
      width: 100%; }

  .collections .section-wrapper {
    padding: 40px;
    padding-bottom: 60px;
    margin: auto; }

  .main__button--scroll {
    transform: translateY(52px) translateX(-50%);
    transition: 1s;
    background: #0c0c0c;
    color: white; }

  .collections__photo-description {
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    bottom: 66px;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, 140%);
    transition: 0.6s; }
    .collections__photo-description a {
      text-decoration: none;
      color: #fff; }

  .collections__photo-container:nth-child(1),
  .collections__photo-container:nth-child(3),
  .collections__photo-container:nth-child(5) {
    margin: 0 0 10px 0; }

  .collections__photo-container:nth-child(2),
  .collections__photo-container:nth-child(4),
  .collections__photo-container:nth-child(6) {
    margin: 0 0 10px 0; }

  .style__title--elegance {
    margin-bottom: 16px; }

  .display-none {
    display: none; } }
.active {
  opacity: 1;
  transform: scale(100%);
  transform: translate(0, 0); }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

.swiper {
  width: 100%;
  height: 100%; }

body {
  overflow-x: hidden; }

.category-main {
  padding: 55px 0; }
.category__collections {
  padding-bottom: 80px; }
.category__subheader {
  margin-bottom: 19px;
  display: flex;
  color: rgba(15, 14, 14, 0.6);
  justify-content: space-between;
  font-size: 12px; }
  .category__subheader .links {
    color: #0f0e0e; }
    .category__subheader .links a {
      font-size: 12px; }
.category__main-flex, .category-flex {
  display: flex;
  gap: 12px; }
.category__photo-container img {
  max-width: 100%; }
.category__product {
  width: 49%; }
  .category__product .category__photo-container {
    width: 100%;
    background: #F7F7F7;
    padding: 75px 31px; }
    .category__product .category__photo-container img {
      max-width: 100%; }
  .category__product-price {
    color: rgba(15, 14, 14, 0.6);
    margin: 0;
    text-align: left; }
  .category__product-quantity {
    font-size: 14px; }
.category__collection-title {
  padding-bottom: 40px;
  width: 50%; }
.category__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
  margin: 40px auto 16px; }
.category__description {
  margin: auto; }
.category__product-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin: 16px 0 4px; }
.category__button {
  width: 311px;
  background: white;
  border: 1px solid black;
  padding: 13px 0;
  text-transform: uppercase;
  font-size: 14px;
  margin: 80px auto 0;
  cursor: pointer;
  transition: 0.3s; }
.category__button:hover {
  border: #deb38b 1px solid;
  color: #ba8947; }
.category__button:active {
  border: #deb38b 1px solid;
  background: #deb38b;
  color: white; }
.category__button:disabled {
  border: rgba(12, 12, 12, 0.5) 1px solid;
  color: rgba(15, 14, 14, 0.6); }

@media screen and (max-width: 1200px) {
  .category__product .category__photo-container {
    padding: 75px 9%; }
    .category__product .category__photo-container img {
      max-width: 100%; } }
@media screen and (max-width: 800px) {
  .section-wrapper {
    max-width: 100%; }

  .category-main {
    padding: 24px 0; }
  .category__main-flex {
    display: block; }
  .category__collections {
    padding-bottom: 120px; }
  .category__subheader {
    margin-bottom: 24px; }
  .category__photo {
    width: 100%; }
  .category-flex {
    margin-bottom: 40px;
    flex-wrap: wrap;
    column-count: 2; }
  .category__photo-container img {
    max-width: 100%; }
  .category__product {
    width: 48%; }
    .category__product .category__photo-container {
      max-width: 100%;
      padding: 84px 36px; }
  .category__collection-title {
    width: 47%; }

  .flex-for-title-one {
    width: 100%; }

  .flex-for-title-two {
    width: 48%; } }
@media screen and (max-width: 528px) {
  .category__links {
    display: none; }
  .category-main {
    padding: 0; }
    .category-main .section-wrapper {
      width: 100%;
      padding: 80px 0; }
  .category__subheader {
    padding: 20px 16px 0; }
  .category__collections {
    padding-bottom: 80px; }
  .category-flex {
    gap: 10px; }
  .category__main-flex {
    display: block; }
  .category__collection-title {
    margin-bottom: 64px;
    width: 100%; }
  .category__product {
    width: 48%; }
    .category__product .category__photo-container {
      padding: 42px 16px; }
    .category__product-quantity {
      font-size: 16px; }
    .category__product-title {
      padding-left: 16px;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px; }
    .category__product-price {
      padding-left: 16px; }
  .category__button {
    width: 343px; } }
.flex-for-title-two,
.flex-for-title-one {
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

.overflow-hidden {
  overflow: hidden; }

.modal {
  display: block;
  z-index: 20000;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 552px;
  transition: 0.5s;
  transform: translateX(100%);
  background-color: white; }
  .modal__backdrop {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 90;
    background: rgba(178, 170, 170, 0.25);
    backdrop-filter: blur(4px);
    transition: 0.2s; }
  .modal__wrapper {
    padding: 40px 24px 0;
    width: 100%;
    height: 86%; }
    .modal__wrapper .category-flex {
      flex-wrap: wrap; }
      .modal__wrapper .category-flex .category__product {
        width: 48%; }
  .modal__heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    padding: 38px 0 12px;
    max-width: 365px;
    margin: 0 auto; }
  .modal__scrolling-block {
    overflow-y: scroll;
    height: 100%; }
  .modal__title {
    display: flex;
    align-items: center;
    padding: 0 24px;
    border-bottom: rgba(12, 12, 12, 0.1) solid 0.5px;
    position: relative;
    height: 64px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px; }
    .modal__title .close {
      display: flex;
      position: absolute;
      right: 24px;
      top: 16px;
      width: 32px;
      height: 32px;
      padding: 6px; }
      .modal__title .close span {
        display: block;
        position: absolute;
        right: 2px;
        top: 15px;
        width: 27px;
        height: 1px;
        background: #0c0c0c; }
      .modal__title .close span:nth-child(1) {
        transform: rotate(45deg); }
      .modal__title .close span:nth-child(2) {
        transform: rotate(-45deg); }
  .modal__question, .modal__answer {
    text-align: left; }
  .modal__question {
    font-weight: bold;
    margin-bottom: 12px; }
  .modal__answer {
    margin-bottom: 40px; }
  .modal__text {
    max-width: 400px;
    text-align: left; }
  .modal__item {
    padding: 20px 24px;
    border-bottom: rgba(12, 12, 12, 0.1) solid 0.5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    position: relative; }
    .modal__item .modal__cross {
      position: absolute;
      right: 24px;
      bottom: 20px;
      width: 24px;
      height: 24px;
      padding: 8px; }
      .modal__item .modal__cross span {
        display: block;
        position: absolute;
        bottom: 12px;
        width: 8px;
        height: 1px;
        background: rgba(12, 12, 12, 0.5); }
      .modal__item .modal__cross span:nth-child(1) {
        transform: rotate(90deg);
        transform-origin: center; }
  .modal__view-height {
    height: 84vh;
    display: flex;
    flex-direction: column;
    padding: 0 24px 40px; }
  .modal__content {
    display: none;
    flex-wrap: wrap;
    padding: 0 24px 48px 24px;
    text-align: left;
    gap: 8px;
    color: rgba(15, 14, 14, 0.6); }
    .modal__content--block {
      display: none; }
  .modal__list {
    padding-left: 16px; }
    .modal__list-item {
      margin-bottom: 8px;
      color: #0f0e0e; }
  .modal__option {
    width: 48%; }
  .modal__option:active {
    color: #ba8947; }
  .modal__footer .modal__wrapper {
    padding-top: 0; }
  .modal__button {
    width: 100%;
    padding: 12px 24px;
    text-transform: uppercase;
    transition: 0.5s;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.01em;
    text-align: center; }
    .modal__button--black {
      background: #0c0c0c;
      color: white;
      bottom: 81px; }
    .modal__button--white {
      background: white;
      color: #0f0e0e;
      bottom: 24px;
      border: #0c0c0c 1px solid; }
      .modal__button--white:hover {
        border: #deb38b 1px solid;
        color: #ba8947; }
      .modal__button--white:active {
        border: #deb38b 1px solid;
        background: #deb38b;
        color: white; }
      .modal__button--white:disabled {
        border: rgba(12, 12, 12, 0.5) 1px solid;
        color: rgba(15, 14, 14, 0.6); }
  .modal__button--black:hover {
    background: rgba(12, 12, 12, 0.5); }
  .modal__button--black:active {
    background: rgba(12, 12, 12, 0.3); }
  .modal__button--black:disabled {
    background: rgba(12, 12, 12, 0.3);
    color: rgba(255, 255, 255, 0.5); }

.flex-wrapper {
  margin: 0 auto;
  padding-top: 80px; }

#reset {
  display: none;
  border: none; }

.filter-active {
  display: block; }

.position-bottom {
  position: absolute;
  bottom: 40px;
  width: 90%; }

.modal-active {
  transform: translateX(0); }

#wishlist {
  overflow: scroll; }
  #wishlist .modal__button {
    width: 356px; }

@media screen and (max-width: 800px) {
  .modal {
    width: 100vw; }
    .modal__button--white {
      width: 100%; }
    .modal__heading {
      max-width: 420px; }
    .modal__view-height {
      justify-content: space-between;
      padding-top: 140px; }

  .flex-wrapper {
    margin: 0 auto;
    padding-top: 0;
    width: 100%; }

  #wishlist .modal__button {
    width: 100%; } }
@media screen and (max-width: 528px) {
  .modal {
    width: 100vw; }
    .modal__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      text-align: left; }
    .modal__heading {
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      text-align: center; } }
a {
  color: inherit; }

.fall {
  padding: 110px 0 0; }
  .fall__container {
    display: flex;
    justify-content: center;
    margin: 0 auto; }
  .fall__element {
    margin: -23px; }
    .fall__element img {
      width: 100%; }
  .fall__title {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -0.04em;
    text-align: center;
    text-transform: uppercase;
    margin: 80px auto 26px; }
  .fall__text {
    width: 350px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 auto; }
  .fall .modal__button {
    margin: 40px auto 80px;
    width: 305px; }
  .fall .modal__contacts {
    margin: 12px 0; }
  .fall .flex-box {
    display: flex;
    gap: 24px;
    justify-content: center; }
    .fall .flex-box a {
      text-decoration: underline; }

@media screen and (max-width: 800px) {
  .section-wrapper {
    width: 100%; } }
@media screen and (max-width: 528px) {
  .section-wrapper {
    width: 100%;
    height: 100%; }

  .fall__title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em; }
  .fall__container {
    width: 213px; }
  .fall__text {
    width: 90%; }
  .fall .modal__button {
    max-width: 275px; } }
a {
  color: inherit; }

.thanks {
  position: absolute;
  z-index: 100;
  width: 500px;
  height: 400px;
  background: white;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center; }
  .thanks__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: center; }
  .thanks__text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    max-width: 350px;
    margin: 0 auto; }

@media screen and (max-width: 800px) {
  .thanks {
    position: static;
    left: 0;
    transform: translate(0);
    width: 100%;
    height: 100vh; } }
@media screen and (max-width: 528px) {
  .thanks {
    height: 100vh; }
    .thanks__title {
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
      letter-spacing: -0.02em;
      text-align: center; } }
.cart {
  height: 100vh; }
  .cart__wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .cart__item {
    border-bottom: 1px solid rgba(12, 12, 12, 0.1); }
  .cart__item, .cart__total-container {
    padding: 24px;
    display: flex;
    gap: 16px;
    justify-content: space-between; }
  .cart__total-container {
    border-top: 1px solid rgba(12, 12, 12, 0.1); }
  .cart__product-photo {
    width: 90px;
    height: 133px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7F7F7; }
    .cart__product-photo img {
      width: 74%; }
  .cart__product-details {
    color: rgba(15, 14, 14, 0.6);
    display: flex;
    align-items: center;
    gap: 8px; }
    .cart__product-details-dott {
      width: 4px;
      height: 4px;
      background: rgba(12, 12, 12, 0.5);
      border-radius: 50%; }
  .cart__product-control {
    display: flex;
    justify-content: flex-end; }
  .cart__product-add-to-favorite {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .cart__product-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 32px;
    height: 32px;
    padding: 6px; }
    .cart__product-delete span {
      display: block;
      position: absolute;
      right: 2px;
      top: 15px;
      width: 20px;
      height: 1px;
      background: rgba(12, 12, 12, 0.5); }
    .cart__product-delete span:nth-child(1) {
      transform: rotate(45deg); }
    .cart__product-delete span:nth-child(2) {
      transform: rotate(-45deg); }
  .cart__product-price-input {
    border: none;
    font: inherit;
    width: 100px;
    text-align: right; }
  .cart__characteristics {
    display: flex;
    height: 94px;
    justify-content: space-between;
    width: 78.5%; }
    .cart__characteristics-scarve {
      text-align: left; }
    .cart__characteristics-right {
      text-align: right; }
    .cart__characteristics-right, .cart__characteristics-scarve {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
  .cart__total {
    text-align: left; }
    .cart__total-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      text-align: left;
      text-transform: uppercase; }
    .cart__total-subtitle {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      text-align: left;
      color: rgba(15, 14, 14, 0.6);
      margin-top: 4px; }

.counter {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 300; }
  .counter__button {
    flex: 0 0 20px;
    display: flex;
    justify-content: center;
    height: 20px;
    background: #f7f7f7; }
    .counter__button--minus {
      -webkit-border-bottom-left-radius: 4px;
      -webkit-border-top-left-radius: 4px; }
    .counter__button--plus {
      -webkit-border-bottom-right-radius: 4px;
      -webkit-border-top-right-radius: 4px; }
  .counter__input input {
    width: 24px;
    height: 20px;
    background: #f7f7f7;
    border: none;
    text-align: center;
    color: #0f0e0e; }

@media screen and (max-width: 528px) {
  .cart__item {
    padding: 16px; }
  .cart__product-photo {
    width: 64px;
    height: 94px; }
    .cart__product-photo img {
      width: 81%; } }
* {
  box-sizing: border-box;
  font-family: "Tilda Sans", sans-serif; }

body {
  background: white;
  padding: 0;
  margin: 0;
  color: #0f0e0e;
  background: #fff; }

ul {
  padding: 0; }

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase; }

a {
  text-decoration: none;
  color: inherit; }

.links a {
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  color: inherit;
  letter-spacing: -0.01em;
  text-align: center;
  text-decoration: none;
  position: relative;
  text-transform: uppercase; }
.links a:before {
  content: "";
  right: 0;
  bottom: 0;
  position: absolute;
  width: 0;
  height: 1px;
  background: inherit;
  transition: 0.2s; }
.links a:hover::before {
  width: 100%;
  left: 0; }

.bold {
  font-weight: 600; }

.section-wrapper {
  margin: auto;
  text-align: center;
  padding: 80px 80px;
  max-width: 1440px; }

.button {
  padding: 12px 24px;
  border-radius: 2px;
  gap: 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0;
  margin-top: 53px;
  cursor: pointer;
  border: none; }
  .button:hover {
    background: rgba(255, 255, 255, 0.5); }
  .button:active {
    background: rgba(255, 255, 255, 0.3); }
  .button:disabled {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(15, 14, 14, 0.6); }

@media screen and (max-width: 800px) {
  .section-wrapper {
    padding: 80px 24px 0px 24px; } }
@media screen and (max-width: 528px) {
  .section-wrapper {
    padding: 120px 16px 0 16px; } }

/*# sourceMappingURL=style.css.map */
